.details {
  position: relative;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0.5em 0.5em 1em 0 rgb(0, 0, 0, 0.4);
  max-width: 20vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: clamp(10vh, 30vh, 100vh);
}

.title {
  font-size: 3em;
}
.text {
  font-size: 1.5em;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    background-color: currentColor;
    transform: rotate(45deg);
    top: calc(50% - 1px);
    left: 5%;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    background-color: currentColor;
    transform: rotate(-45deg);
    top: calc(50% - 1px);
    left: 5%;
  }

  &:hover {
    transform: scale(1.1);
  }
}
