body,
p {
  margin: 0;
}

input,
button,
select {
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.5em;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}
