.autoComplete {
  position: absolute;
  top: 100%;
  width: 10em;
  max-height: 20em;
  overflow-y: scroll;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  text-transform: none;
  border: 1px solid;
  border-radius: 0.3em;
  z-index: 5;
}

.country {
  padding: 0.3em;
  cursor: pointer;
  &:not(:last-child) {
    border-bottom: 1px solid;
  }
}
