.search {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 4em 0;
}

.input {
  font-family: inherit;
  flex: 1 0 auto;
  min-width: 45vw;
  padding: 10px;
}

.buttons {
  display: flex;
  flex: 0 0 auto;
  gap: 1em;
}
