.flyout {
  display: inline-block;
  padding: 1em 2em;
  margin-top: 2em;
  transition: all 0.3s;
  transform: translateY(0);
  border-radius: 10px;
  border: 1px solid;
  font-size: 1.5em;

  &_hidden {
    visibility: hidden;
    transform: translateY(100vh);
  }
}
