.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info {
  display: flex;
  gap: 1em;
}

.link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.logo {
  color: inherit;
  width: 4em;
  height: 4em;
  background: url("@/assets/images/icons/rss-logo.svg") center/ 100% no-repeat;
}
