.pagination {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.button {
  margin: 0;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 2em;
  height: 2em;
  text-decoration: none;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  color: inherit;
  line-height: 1;
  transition: all 0.3s;
}

.active {
  color: white;
  background-color: black;
}
