.notFound {
  width: 100%;
  height: 100vh;
  background: url("/images/not-found-bg.jpg") center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7em;
}

.title {
  color: white;
  font-size: 2em;
}

.text {
  color: white;
  font-size: 2em;
}
