body {
  margin: 0;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

.loader {
  width: 50vh;
  height: 50vh;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100%;
  }
}

button,
input {
  outline: none;
  border: 1px solid;
  border-radius: 10px;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    background-color: black;
    color: white;
  }
}
