body {
  margin: 0;
  font-family: monospace;
  position: relative;
}

#__next {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
}

header,
footer {
  padding: 20px;
}

main {
  flex: 1 0 auto;
  padding: 20px;
  overflow: hidden;
}

button,
input {
  outline: none;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 15px;
}

.dark {
  color: white;
  background-color: black;
  a {
    color: inherit;
    &:hover {
      filter: invert(1);
    }
  }
}
