.link {
  display: block;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 15px;
  min-width: 250px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
  color: inherit;
  text-decoration: none;

  &:hover {
    background-color: black;
    color: white;
  }
}

.card {
  flex-basis: 25%;
}

.text {
  width: 60%;
  text-transform: uppercase;
  font-size: 1em;
  &:first-child {
    font-weight: 700;
  }
}
