.form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.form__button {
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 0.5em;
  width: fit-content;
  padding: 0.5em 1em;
}

.form__errorMessage {
  color: red;
  text-transform: lowercase;
}

.form__field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.2em;
  text-transform: uppercase;
  font-weight: 700;

  &:not(&:last-child) {
    margin-bottom: 1em;
  }

  &_accept {
    font-weight: 400;
    flex-direction: row;
    text-transform: lowercase;
    text-transform: none;
  }

  &_upload {
    input {
      border: none;
      padding-left: 0;
    }
  }
}
